@charset "utf-8";
body {
    background-color: rgb(44, 43, 43);
}

.container1{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-around;
}

.container1 img{
    width: 250px;
    height: 300px;
}

.container2{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-around;
}

.container2 img{
    width: 250px;
    height: 300px;
}

.container3{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-around;
}

.container3 img{
    width: 250px;
    height: 300px;
}

h2 {
    text-align: center;
    color: antiquewhite;
    background-color: black;
}

.container4{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-around;
}

.container4 img{
    width: 250px;
    height: 300px;
}

img {
    border-radius: 5%
}
